page-conseil-details {
    #body {
        background: url('../../assets/img/conseilPage/conseilFond.jpg');
    }
    
    .conteneur {
        height: 50%;
    }

    .conteneur video {
        height: 72%;
        width: 100%;
    }
}
